@model Xchange.ViewModels.AddVM

@{
    ViewBag.Title = "title";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
            @using (Html.BeginForm("Add","Games", FormMethod.Post, new { enctype = "multipart/form-data" }))
            {
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BoardGame.Name) @Html.EditorFor(model => model.BoardGame.Name)
                </div>
                <div class="col-md-2">
                    @Html.LabelFor(model => model.BoardGame.Description) @Html.EditorFor(model => model.BoardGame.Description)
                </div>
                <div class="col-md-4">
                    @Html.TextBoxFor(model => model.File, new { type = "file" })
                    <input type="submit" value="Upload Image" />
                    <br><br>
                    @ViewBag.Message
                </div>
            }

            <div class="col-md-2">
                @Html.ActionLink("Back", "Index")
            </div>
        </div>
    </div>
